In [2]:
data=pandas.read_csv("netflix_titles.csv")

NameError: name 'pandas' is not defined

In [10]:
data=pandas.read_csv("USD_RUB.csv")

NameError: name 'pandas' is not defined

In [11]:
import pandas as pd

In [12]:
! pip install pandas

Requirement already satisfied: pandas in c:\users\asus\anaconda3\lib\site-packages (1.2.4)
Requirement already satisfied: python-dateutil>=2.7.3 in c:\users\asus\anaconda3\lib\site-packages (from pandas) (2.8.1)
Requirement already satisfied: pytz>=2017.3 in c:\users\asus\anaconda3\lib\site-packages (from pandas) (2021.1)
Requirement already satisfied: numpy>=1.16.5 in c:\users\asus\anaconda3\lib\site-packages (from pandas) (1.20.1)
Requirement already satisfied: six>=1.5 in c:\users\asus\anaconda3\lib\site-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)

In [1]:
import pandas as pd

In [8]:
data=pd.read_csv("USD_RUB.csv")

In [9]:
data

             Date    Price     Open     High      Low Change %
0     Apr 14 2022  80.9957  79.8675  82.3836  79.8563    1.41%
1     Apr 13 2022  79.8675  79.6800  80.2965  79.4078    0.24%
2     Apr 12 2022  79.6800  79.0650  80.2549  78.6952    0.78%
3     Apr 11 2022  79.0650  76.0800  81.2950  76.0800    3.92%
4     Apr 08 2022  76.0800  75.7500  76.2590  71.3993    0.44%
...           ...      ...      ...      ...      ...      ...
5315  Sep 20 2001  29.4300  29.4550  29.4760  29.4030   -0.08%
5316  Sep 19 2001  29.4530  29.4600  29.4810  29.4300   -0.02%
5317  Sep 18 2001  29.4600  29.4450  29.4750  29.4400    0.00%
5318  Sep 17 2001  29.4610  29.4600  29.4730  29.4400   -0.04%
5319  Sep 14 2001  29.4730  29.3500  29.4800  29.3500    0.00%

[5320 rows x 6 columns]